<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <webSocket enabled="false" />
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <!-- Don't interfere with requests for logs -->
        <rule name="LogFile" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^iisnode/" />
        </rule>

        <!-- Don't interfere with requests for static files -->
        <rule name="StaticContent" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^(images|styles|scripts|assets)/" />
          <action type="None" />
        </rule>

        <!-- All other URLs are mapped to the Node.js application entry point -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    <iisnode
      nodeProcessCommandLine="node"
      watchedFiles="*.js;node_modules\*"
      loggingEnabled="true"
      logDirectory="iisnode"
      debuggingEnabled="true"
      nodeProcessCountPerApplication="1"
      maxConcurrentRequestsPerProcess="1024"
      maxNamedPipeConnectionRetry="100"
      namedPipeConnectionRetryDelay="250"
      maxNamedPipeConnectionPoolSize="512"
      maxNamedPipePooledConnectionAge="30000"
      initialRequestBufferSize="4096"
      maxRequestBufferSize="65536" />
    
    <!-- Make sure error responses are left untouched -->
    <httpErrors existingResponse="PassThrough" />
  </system.webServer>

  <!-- Specify the app startup file -->
  <appSettings>
    <add key="WEBSITE_NODE_DEFAULT_VERSION" value="~18" />
    <add key="WEBSITE_STARTUP_FILE" value="server.js" />
  </appSettings>
</configuration>
